@import '_colors';

:host {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        flex-direction: row;
        align-items: center;
    }
}

.svg-logo {
    margin-top: 10%;
}

.info {
    width: 327px;
    height: 105px;

    .email {
        color: $neutral-2;
        text-decoration: none;
        font-weight: bold;
    }
}
