@import '_colors';

:host {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 15% 5% 0 5%;
    }

    @media screen and (min-device-width: 1024px) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 8% 9% 0 9%;
    }
}

.svg-logo {
    margin-top: 10%;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        margin-right: 70%;
    }

    @media screen and (min-device-width: 1024px) {
        margin-top: 8%;
        align-self: flex-start;
    }
}

.info {
    width: 327px;
    height: 105px;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        flex-basis: 49%;
    }

    @media screen and (min-device-width: 1024px) {
        flex-basis: 33%;
        margin-right: 25%;
    }

    .email {
        color: $neutral-2;
        text-decoration: none;
        font-weight: bold;
    }
}
