@import '_colors';
@import '_fonts';

.btn-common {
    @extend .eq-btn;
    width: 296px;
    height: 61px;
    border-radius: 12px;
    cursor: pointer;
    color: $neutral-1;
    text-align: center;
    margin: auto;

    @media screen and (min-width: 376px) and (max-width: 768px) {}

    @media screen and (min-width: 769px) {
        width: 333px;
    }
}

:host {
    @extend .btn-common;
}

:host-context(.ios) {
    background: $neutral-2;
    // padding: 12px;

    &:hover {
        background: $primary-1;
    }
}

:host-context(.android) {
    @extend .btn-common;
    background: $primary-2;

    &:hover {
        background: $neutral-1;
        color: $neutral-2;
    }
}
