@import '_colors';
@import '_fonts';

.btn-common {
    @extend .eq-btn;
    width: 296px;
    height: 61px;
    border-radius: 12px;
    cursor: pointer;
    color: $neutral-1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

    @media screen and (min-width: 769px) {
        width: 333px;
    }
}

:host {
    @extend .btn-common;
}

:host-context(.btn--ios) {
    background: $neutral-2;
    // padding: 12px;

    &:hover {
        background: $primary-1;
    }
}

:host-context(.btn--android) {
    background: $neutral-1;
    color: $neutral-2;

    &:hover {
        background: $primary-2;
    }
}
