:host {
    margin: 0 auto;
}

.background {
    position: absolute;
    top: -25%;
    left: 0;

    &::before {
        content: url("../../assets/images/bg-main-mobile.png");
    }
    
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        content: url("../../assets/images/bg-main-tablet.png");
    }
}

.svg--logo {
    margin-top: 10%;
}


.info {
    width: 324px;
    height: 320px;
}
