@import '_colors';

:host {
    background: $neutral-2;
    position: relative;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        width: 696px;
        margin: 0 5%;
    }
}

.svg-pattern-2 {
    display: block;
    margin: auto;
}

.png-mobile {
    position: absolute;
    left: 23%;
    top: -28%;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        left: 7%;
        top: -22%;
    }
}
