<img
  class="png--bg"
  [src]="'../assets/images/bg-main-mobile.png'"
  alt="Bg Main"
/>
<div class="block--intro">
  <img class="svg--logo" src="../assets/images/logo.svg" alt="Logo" />
  <div class="info">
    <h2>We make your music sound extraordinary.</h2>

    <p>
      A system audio equalizer specifically designed for Android and iOS. Freely
      tune the way your music sounds with a professional grade parametric EQ &
      volume mixer. Control bass, mids, treble, gain control, reverb, and more!
    </p>
  </div>
</div>
<div class="block--mobile">

</div>

<div class="block--premium">

</div>
<div class="block--footer">

  <app-btn class="ios"> iOS Download </app-btn>
  
  <br />
  
  <app-btn class="android"> Android Download </app-btn>
</div>
