
<app-intro></app-intro>
<div class="container--mobile">
  <!-- <img class="svg--pattern-1" src="../assets/images/bg-pattern-1.svg" alt="Pattern 1" /> -->
  <img
    class="png--mobile"
    src="../assets/images/illustration-app.png"
    alt="Mobile"
  />
  <img
    class="svg--pattern-2"
    src="../assets/images/bg-pattern-2.svg"
    alt="Pattern 2"
  />
</div>

<div class="container--premium">
  <div class="info">
    <h2>Premium EQ</h2>

    <p>
      Get expert-level control with a robust equalizer, volume mixer, and
      spatial audio. Take your listening experience to a whole new level and
      access all our incredible features!
    </p>
  </div>

  <h1>$4</h1>
  <p>/ month</p>
  <app-btn class="ios"> iOS Download </app-btn>
  <app-btn class="android"> Android Download </app-btn>
</div>
<div class="container--footer">
  <img class="svg--logo" src="../assets/images/logo.svg" alt="Logo" />

  <p class="info">
    All rights reserved © Equalizer 2021 
    <br />
    Have any problems? Contact us via
    social media or email us at
    <br />
    <a class="email" href="mailto:">equalizer@example.com</a>  
  </p>
</div>
