<div class="info">
  <h3>Premium EQ</h3>
  <p>
    Get expert-level control with a robust equalizer, volume mixer, and spatial
    audio. Take your listening experience to a whole new level and access all
    our incredible features!
  </p>
  <div class="info__promo">
    <span class="info__hg">$4</span>
    <p class="info__desc">/ month</p>
  </div>
</div>
<app-btn class="btn btn--ios" appBorderRadius>
  <img class="svg--ios" src="../assets/images/icon-apple.svg" alt="Apple" />
  &nbsp;
  iOS Download
</app-btn>
<app-btn class="btn btn--android" appBorderRadius>
  <img
  class="svg--android"
  src="../assets/images/icon-android.svg"
  alt="Androiid"
  />
  &nbsp;
  Android Download
</app-btn>
