/* You can add global styles to this file, and also import other style files */
@import '_fonts';
@import '_colors';
@import '_images';

/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @extend .eq-body1;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    // overflow-y: hidden;
}

app-root {
    min-height: 100vh;
}


h1 {
    @extend .eq-h1;
}

h2 {
    @extend .eq-h2;
}

p {
    @extend .eq-body2;
}
