.svg {

    &--logo {
        width: 147px;
        height: 33px;
    }

    &--pattern-1 {
        // width: 147px;
        // height: 33px;
    }

    &--pattern-2 {
        width: 280px;
        height: 420px;
    }
}


.png {

    &--bg {
        
    }

    &--mobile {
        width: 209px;
        height: 430px;
    }



}
